@model BookStore.ViewModels.EditorBookViewModel
@{
    ViewBag.Title = "Criando um novo livro";
    Layout = "~/Views/Shared/_LayoutNovo.cshtml";
}


@helper MinhaFuncao(string nome)
{
    <text>Você está logado como: @nome</text>
}

<p>
    @MinhaFuncao("Antonio Sucre")
</p>
<h2>Novo Livro</h2>

@using (Html.BeginForm())
{

    @Html.Partial("Partials/EditorBookPartial", Model)

    <button type="submit" class="btn btn-primary">Criar</button>
}

@section menu{
    <div>
        Olá, você está na página de criação
    </div>
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}